@charset "utf-8";
body {
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
}
.page-header {
	padding-bottom: 70px;
	max-width: 1200px;
	margin: 0px auto;
}
.nav {
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;
	font-weight: 300;
    list-style-type: none;
    padding: 30px 0;
}
.nav-item {
	color: #000;
}
.nav-item:hover {
	font-weight: 900;
}
.btn-line {
	color: #000;
    background-color: #fff;
    font-weight: 900;
    letter-spacing: 1.25px;
    padding: 14px 50px;
    border: 3px solid #000;
    border-radius: 5px;
}
.btn-line:hover {
	color: #fff;
    background-color: #000;
}
main {
	max-width: 1200px;
	margin: 0 auto;
}
.Title {
 	font-size: 5em;
	font-family: 'Cardo', serif;
	width: 40%;
	line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 23px;
}
p {
	width: 37%;
    line-height: 1.25;
    letter-spacing: 0,4px;
}
.btn-black {
	color: #fff;
	display: block;
	width: 155px;
    font-size: 21px;
    background-color: #000;
    font-weight: 900;
    padding: 16px 50px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-top: 38px;
}
.Travel_img {
	
	float: right;
}